#listaAlimentos, .otrosDatos {
    background: #fff;
    border-radius: 3px;    
}
.HC{
    padding: 30px 0 30px 20px;
}
button.btn.btn-dark {
    border-radius: 128px;
    height: 29px;
    padding: 0 10px;
}
.tituloTabla {
    font-weight: 700;
    font-size: 1rem;
}